
body {
	background: rgb(241, 231, 204);

}

.p {
  font: 700;

}


.formu{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.formu h1{
	align-self: center;
}

.formu p{
	align-self: center;
}

.formu a{
	align-self: center;
}

.btn-enviar {
	width: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	outline: 0px;
	align-self: center;
}

@media screen and (max-width: 800px) {

.formu{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.formu h1{
	width: 100%;
	text-align: center;
}

.formu p{
	width: 100%;
	align-self: center;
}

.formu a{
	width: 100%;
	text-align: center;
}

.btn-enviar{
	width: 100%;
}

}
